@import "tailwindcss";

:root {

}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --breakpoint-md2:640px
}


.gradient-text {
  background: linear-gradient(
    90deg,
    rgb(43, 127, 255) 0%,      
    rgb(61, 46, 8) 80%      
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


